@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background: #000F1A;
    font-family: 'Poppins', sans-serif;
}

#main{
    height: 100vh;
    background: url(../img/woman-freediving-with-flippers-underwater.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#main nav{
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.6) 0%, rgba(18, 18, 18, 0) 100%) !important;
    backdrop-filter: blur(7px);
}

#navbarText{
    justify-content: center;
}

#main .nav-item{
    margin: 0 15px;
}

#main .nav-link{
    font-size:15px ;
    color:  #EBF5FF;
    font-weight: 800;
}

#main .navbar-text img{
    margin: 0 10px;
}

#main .showcase{
  
    height: calc(100vh - 66px);
}

#main .showcase .banner{
    height: 100%;
}

#main .showcase .banner h1{
    color: #fff;
    font-weight: 800;
    font-size: 50px;
}

#main .showcase .banner p{
    color: #fff;
}

#main .navbar-brand{
    font-size: 25px;
    color: #EBF5FF;
}

.explore{
    padding: 9px 44px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #002F52;
}

#post{
    margin-top: 120px;
    margin-bottom:  120px;
    color: #fff;
}

#post .col-5 img{
    width: 100%;
    height: auto;
}

#post p{
    font-size: 14px;
}

#post button{
    padding: 3px 33px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

#package{
    color: #fff;
    align-items: center;
    margin-bottom: 60px;
}

#package p,.card p{
    font-size: 14px;
}

#package .item{
    color: black;
}

#package .card{
    height: 100%;
    border: none;
    border-radius: 5px;
}

#package .card h5{
    font-size: 16px;
    font-weight: 600;
}

#package .card .btn{
    width: calc(100% - 30px);
    background: #0b4292;
    position: absolute;
    bottom: 15px;

}

#package .price{
    position: absolute;
    top: 12px;
    right: 10px;
    background: #fff;
    padding: 3px 5px;
    font-weight: 600;
    border-radius: 4px;
    color: #0b4292;
    box-shadow: 1px 6px 11px;
}
footer{
    background: #fff;
    margin-top: 180px;
    padding-top: 60px;
    color: #011f4f;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    margin: 15px auto;
}

footer .container-fluid{
    background: #000F1A;
   padding: 20px;
   color: #fff;
   font-size: 14px;
}